@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


.navLayout{
    margin-left: 20%;  
}

.bodyLayout{
    display: flex;
    justify-content: space-around;
}
