.guessPopLayout{
    font-family: 'poppins';
    font-weight: 600;
    padding: 5px;
    background-color: white;
}

.guessButtonLayout{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.errorLine{
    background-color: indianred;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}