.howItWorks{
    color: white;
    font-family: 'poppins';
    font-weight: 300;
    line-height: 27px;
}

.dialogLayout{
    width: 100%;
    height: 100%;
    
}

.info{
    width: 100%;
    height: 1000px;
    background: url(../img/info.png) no-repeat ;
    background-size: cover;
    background-position: center;
}

.cancel{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .howItWorks{
        font-size: 12px;
    }
}

@media only screen and (max-width: 815px) {
    .info{
        width: 270%;
        max-width: 835px;
        overflow: scroll;
    }
}