.betRow{
    width: 100%;
    height: 30px;
    display: flex;
    font-style: oblique;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgb(71, 1, 1);
    transition: background-color 0.5s ease;
}

.betRow:hover{
    background-color: rgba(205, 255, 155, 0.403) !important;
    transition: transform !important;
}

.numberingBets{
    min-width: 13px;
    height: 17px;
    border-radius: 20%;
    font-size: 10px;
    margin-top: 4px;
    margin-left: 4px;
    padding-bottom: 1px;
    padding-top: 2px;
    padding-left: 3px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    background-color: rgba(245, 175, 164, 0.925);
}

.status{
    height: 22px;
    font-size: 12px;
    margin-top: 4px;
    padding-right: 4px;
    border-radius: 20%;
    color: rgb(255, 253, 253);
    background-color: rgb(45, 146, 53);
    border: 2px solid black;
    box-sizing: border-box;
}
.statusWidth{
    width: 70px;
}

.username{
    width: 70px;
    margin-top: 1px;
    margin-left: 20px;
    font-size: 15px;
    font-variant: small-caps;
    font-weight: 600;
    overflow: hidden;
}

.userBet{
    min-width: 30px;
    margin-left: 20px;
    margin-top: 5px;
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
}

.teamsNames{
    width: 120px;
    white-space: nowrap;
    margin-left: 10px;
    font-variant: small-caps;
    font-weight: 400;  
    overflow: hidden;
}

.teamsScore{
    min-width: 40px;
    margin-top: 1px;
    margin-left: 5px;
    font-style: italic;
    font-weight: 300;
}

.result{
    width: 25px;
    margin-top: 1px;
    font-style: italic;
    font-weight: 300;
}

.numberingLayout{
width: 70px;
display: flex;

}

.expandButton{
    border: 3px solid rgba(0, 0, 0, 0.336);
    background-color: rgb(204, 224, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: border-box;
}

.shrinkButton{
    border: 3px solid rgba(0, 0, 0, 0.336);
    background-color: rgb(204, 255, 238);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: border-box;
}

.playerCount{
    font-size: 10px;
    margin-top: 4px;
}

.expandView{
    box-sizing: border-box;
    padding-bottom: 10px;
    background-color: rgba(95, 158, 160, 0.521);
    -webkit-box-shadow: 6px 1px 14px 3px rgba(0,0,0,0.62);
    -moz-box-shadow: 6px 1px 14px 3px rgba(0,0,0,0.62);
    box-shadow: 6px 1px 14px 3px rgba(0,0,0,0.62);
}

.expandViewSeperation{
    width: 302px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    margin-top: 10px;
}

.guessesLayout{
    display: flex;
    align-items: center;
}

.betPrize{
    margin: auto;
    font-weight: 700;
    font-size: 30px;
    color: rgba(233, 165, 156, 0.897);
    background-color: rgba(24, 63, 48, 0.19);
    border-radius: 10%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    -webkit-box-shadow: 0px 1px 11px 1px rgba(255,250,153,0.52);
    -moz-box-shadow: 0px 1px 11px 1px rgba(255,250,153,0.52);
    box-shadow: 0px 1px 11px 1px rgba(255,250,153,0.52);
}



